<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    
    @Styles.Render("~/Content/")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body class="container-fluid backgroundPic" >


    <header class="header">

        <div class="level1 headerItems col-md-12 col-sm-12">
            <div class="level2 headerItems col-md-1 col-sm-12">
                <img id="HomeBtn" src="images/home.png">
            </div>
            <div class="level2 headerItems col-md-11 hidden-sm"><div class="level3 headerLine col-md-12"></div></div>
        </div>

    </header>
    <div class="body-content">
        @RenderBody()
      
        <footer class="footer">

            <div class="level1 footerItems col-md-12 col-sm-12">
                <div class="level2 footerItems col-md-11 hidden-sm"><div class="level3 footerLine col-md-12"></div></div>
                <div class="level2 footerItems col-md-1 col-sm-12">
                </div>
            </div>

        </footer>
    </div>

   
</body>
</html>
